nav {
  position: relative;
  width: calc(100% - 10px);
  height: 20px;
  margin: 5px auto 0 auto;
  color: #000;
}
#title,
#by {
  position: absolute;
  top: 0;
}
#title a,
#by a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
#title a:hover,
#by a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#title {
  left: 0;
  font-weight: bold;
}
#by {
  right: 0;
}
#instructions {
  margin: 20px auto 30px auto;
  width: 100%;
  max-width: 1160px;
  text-align: center;
  min-height: 115px;
}
#instructions h2 {
  font-size: 32px;
  margin: 5px 0 15px 0;
  letter-spacing: 1px;
  word-spacing: -1px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#instructions p {
  font-size: 18px;
  max-width: 740px;
  margin: 8px auto;
}
#instructions .join-button {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
}
#instructions .join-button:hover {
  background-color: #269f42;
  background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
  background-position: 0 -0.5em;
  border-color: rgba(27,31,35,0.5);
}
#instructions .join-button:active {
  background-color: #279f43;
  background-image: none;
  border-color: rgba(27,31,35,0.5);
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}
#instructions .join-button:focus {
  box-shadow: 0 0 0 0.2em rgba(52,208,88,0.3);
}
#instructions .join-button.processing {
  color: rgba(255,255,255,0.75);
  background-color: #94d3a2;
  background-image: none;
  border-color: rgba(27,31,35,0.2);
  box-shadow: none;
  pointer-events: none;
  padding-right: 25px;
}
#instructions .join-button.processing:after {
  content: ' ';
  background: url("../img/spinny.gif") center center no-repeat;
  position: relative;
  top: 5px;
  right: 5px;
  opacity: 0.75;
  height: 18px;
  width: 18px;
  display: inline-block;
  position: absolute;
  background-size: contain;
}
.sbs-single .upload-input {
  opacity: 0;
}
.sbs-single .upload-container {
  display: none;
}
.sbs-single .upload-container,
.sbs-single .upload-label,
.sbs-single .upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sbs-single .upload-label {
  overflow: hidden;
  border: 3px dashed #66baff;
}
.sbs-single .upload-label:before,
.sbs-single .upload-label:after {
  position: absolute;
  text-align: center;
  width: 100%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  content: 'Drop files or click to upload';
}
.sbs-single .upload-label:after {
  top: 60%;
  color: #666;
  font-size: 16px;
}
.sbs-single .upload-label:before {
  top: 40%;
  font-size: 36px;
  color: #000;
  opacity: 0.25;
  font-weight: bold;
}
.sbs-single:first-child .upload-label:before {
  content: 'Existing data';
}
.sbs-single:last-child .upload-label:before {
  content: 'New data to add';
}
.sbs-single[data-status="empty"] .upload-container,
.sbs-single[data-status="dragover"] .upload-container,
.sbs-single[data-status="drop"] .upload-container {
  display: block;
}
.sbs-single[data-status="dragover"] .upload-label {
  border-color: #f00;
}
.sbs-single[data-status="dragover"] .upload-label:after {
  content: 'Drop drop drop!';
}
.sbs-single[data-status="drop"] {
  pointer-events: none;
}
.sbs-single[data-status="drop"] .upload-label {
  border: 3px solid #000;
}
.sbs-single[data-status="drop"] .upload-label:after {
  content: 'Processing...';
  animation: rotateAnimation 1600ms linear infinite;
}
.sbs-single[data-status="table"] {
  border: 1px solid #ccc;
}
.table-group {
  width: 100%;
  height: 100%;
}
.table-btn-group {
  -ms-transform: translate(0, -22px);
      transform: translate(0, -22px);
}
.table-btn {
  opacity: 0.3;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  min-width: 18px;
  padding-right: 3px;
}
.table-btn:hover {
  opacity: 1;
}
.table-btn[data-which="reset"]:after {
  content: url("../img/trashcan.svg");
}
.table-btn[data-which="download"] {
  width: 20px;
}
.table-btn[data-which="download"]:after {
  content: url("../img/download.svg");
}
.table-btn-group,
.pick-column {
  position: absolute;
  top: 0;
}
.pick-column {
  font-size: 16px;
  padding: 0 4px;
  left: 50%;
  background-color: #ff0;
  color: #000;
  -ms-transform: translate(-50%, -120%);
      transform: translate(-50%, -120%);
}
.pick-column[data-col-selected='true'] {
  display: none;
}
.table-container {
  position: relative;
  padding-left: 10px;
  width: calc(100% - 10px);
  height: 100%;
  overflow: scroll;
}
.table-container .error-message {
  width: 100%;
  position: relative;
  text-align: center;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
.table-container .reset {
  color: #00f;
  cursor: pointer;
}
.table-container .reset:hover {
  text-decoration: underline;
}
.table-container table {
  border-collapse: collapse;
  margin: 24px auto 20px auto;
}
.table-container tr:hover {
  background-color: #eee;
  cursor: pointer;
}
.table-container tr:hover td:last-child {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.table-container th {
  position: relative;
  white-space: nowrap;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.table-container th input[type='radio'] {
  position: absolute;
  width: 100%;
  height: 50%;
  margin: 0;
  top: 0;
  left: 0;
  -ms-transform: translate(0, -150%);
      transform: translate(0, -150%);
  cursor: pointer;
}
.table-container th:after {
  display: inline-block;
  vertical-align: top;
  content: '↑↓';
  positoin: relative;
  margin-top: -3px;
  padding-left: 3px;
  color: #ccc;
  letter-spacing: -2px;
}
.table-container th.sorted[data-asc="true"]:after,
.table-container th.sorted[data-asc="false"]:after {
  color: #f0c;
  padding-right: 6px;
}
.table-container th.sorted[data-asc="true"]:after {
  content: '↑';
}
.table-container th.sorted[data-asc="false"]:after {
  content: '↓';
}
.table-container td,
.table-container th {
  border: 1px solid #000;
  padding: 5px;
}
.table-container td.active,
.table-container th.active {
  position: relative;
  background-color: #ff0;
  background-origin: padding-box;
  background-clip: padding-box;
}
.table-container td {
  outline: 0px solid transparent !important;
}
.table-container td[contenteditable="true"] {
  border: 2px solid #00f;
}
.table-container th:last-child,
.table-container td:last-child {
  border-color: transparent;
}
.table-container th:last-child {
  pointer-events: none;
}
.table-container th:last-child:after {
  content: '';
}
.table-container tr[data-deleted="true"] td:not(:last-child) {
  text-decoration: line-through;
  color: #ccc;
}
.table-container tr[data-deleted="true"] a:hover {
  color: #ccc !important;
}
.table-container .row-delete {
  position: relative;
  font-size: 16px;
}
.table-container .row-delete:hover {
  cursor: default;
}
.table-container .row-delete a {
  text-decoration: none;
  color: #ccc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.table-container .row-delete span {
  position: absolute;
  top: 50%;
  left: 2px;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  font-weight: bold;
}
.table-container .row-delete span:hover {
  text-decoration: underline;
  color: #f00;
}
.table-container .row-delete span.restore-row {
  font-size: 20px;
}
.table-container .row-delete span.restore-row:hover {
  color: #008000;
}
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}
.sbs-group {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
  width: 100%;
  height: 300px;
}
.sbs-single {
  position: relative;
  width: 48%;
  height: 100%;
}
.sbs-single:first-child {
  margin-right: 2%;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */