.sbs-single .upload-input {
  opacity: 0;
}
.sbs-single .upload-container {
  display: none;
}
.sbs-single .upload-container,
.sbs-single .upload-label,
.sbs-single .upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sbs-single .upload-label {
  border: 3px dashed #66baff;
}
.sbs-single .upload-label:after {
  position: absolute;
  color: #666;
  content: 'Drop files here or click to upload';
  top: 50%;
  text-align: center;
  width: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.sbs-single[data-status="empty"] .upload-container,
.sbs-single[data-status="dragover"] .upload-container,
.sbs-single[data-status="drop"] .upload-container {
  display: block;
}
.sbs-single[data-status="dragover"] .upload-label {
  border-color: #f00;
}
.sbs-single[data-status="dragover"] .upload-label:after {
  content: 'Drop drop drop!';
}
.sbs-single[data-status="drop"] {
  pointer-events: none;
}
.sbs-single[data-status="drop"] .upload-label {
  border: 3px solid #000;
}
.sbs-single[data-status="drop"] .upload-label:after {
  content: 'Processing...';
  -webkit-animation: rotateAnimation 1600ms linear infinite;
          animation: rotateAnimation 1600ms linear infinite;
}
.table-container {
  width: 100%;
  height: 100%;
}
.table-container .error-message {
  width: 100%;
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.table-container .restart {
  color: #00f;
  cursor: pointer;
}
.table-container .restart:hover {
  text-decoration: underline;
}
.table-container table {
  border-collapse: collapse;
  margin: 0 auto;
}
.table-container tr:hover {
  background-color: #eee;
  cursor: pointer;
}
.table-container tr:hover td:last-child {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.table-container th {
  white-space: nowrap;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.table-container th:hover {
  background-color: #eee;
}
.table-container th:after {
  display: inline-block;
  vertical-align: top;
  content: '↑↓';
  positoin: relative;
  margin-top: -3px;
  padding-left: 3px;
  color: #ccc;
  letter-spacing: -2px;
}
.table-container th.sorted[data-asc="true"]:after,
.table-container th.sorted[data-asc="false"]:after {
  color: #f0c;
  padding-right: 6px;
}
.table-container th.sorted[data-asc="true"]:after {
  content: '↑';
}
.table-container th.sorted[data-asc="false"]:after {
  content: '↓';
}
.table-container td,
.table-container th {
  border: 1px solid #ccc;
  padding: 5px;
}
.table-container th:last-child,
.table-container td:last-child {
  border-color: transparent;
}
.table-container th:last-child {
  pointer-events: none;
}
.table-container th:last-child:after {
  content: '';
}
.table-container tr[data-deleted="true"] td:not(:last-child) {
  text-decoration: line-through;
  color: #ccc;
}
.table-container tr[data-deleted="true"] a:hover {
  color: #ccc !important;
}
.table-container .row-delete {
  font-size: 11px;
}
.table-container .row-delete:hover {
  cursor: default;
}
.table-container .row-delete a {
  text-decoration: none;
  color: #ccc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.table-container .row-delete a:hover {
  text-decoration: underline;
  color: #f00;
}
.table-container .row-delete span {
  position: relative;
  font-weight: bold;
}
body {
  font-family: Helvetica, sans-serif;
}
#sbs-group {
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
  width: 100%;
  height: 300px;
}
.sbs-single {
  width: 48%;
  position: relative;
  height: 100%;
}
.sbs-single:first-child {
  margin-right: 2%;
}
@-webkit-keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */