.sbs-group {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
  width: 94%;
  height: calc(100vh - 235px);
  min-height: 100px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sbs-single {
  position: relative;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 47%;
  height: 100%;
  margin-bottom: 50px;
}
.sbs-single[data-side="left"] {
  -ms-flex-order: 1;
      order: 1;
}
.sbs-single[data-side="right"] {
  -ms-flex-order: 3;
      order: 3;
}
.sbs-single[data-status="table"],
.sbs-single[data-status="result"] {
  border: 1px solid #ccc;
}
.sbs-single[data-status="empty"] {
  display: none;
}
.sbs-single[data-status="table"]:after {
  position: absolute;
  top: 0;
  color: #aaa;
  left: -2px;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 4px;
  border-bottom-color: #fff;
  -ms-transform: translate(1px, -100%);
      transform: translate(1px, -100%);
}
.sbs-single[data-status="table"][data-side="left"]:after {
  content: 'existing data';
}
.sbs-single[data-status="table"][data-side="right"]:after {
  content: 'data to join';
}
.sbs-single[data-status="result"] {
  -ms-flex-order: 0;
      order: 0;
  width: 100%;
  height: 200px;
}
.sbs-single[data-status="result"] .table-container table {
  margin-top: 10px;
}
.sbs-single[data-status="result"][data-dirty="true"] .rejoin-button-container {
  display: block;
  z-index: 2;
}
.sbs-single[data-status="result"][data-dirty="true"] .table-container {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.sbs-single[data-status="result"][data-dirty="true"]:before,
.sbs-single[data-status="result"][data-dirty="true"]:after {
  position: absolute;
}
.sbs-single[data-status="result"][data-dirty="true"]:before {
  content: 'Your data has changed. Rejoin?';
  top: 25%;
  left: 50%;
  font-size: 15px;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  border: 1px solid #000;
  padding: 3px;
  z-index: 2;
}
.sbs-single[data-status="result"][data-dirty="true"]:after {
  content: ' ';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 1;
}
.sbs-single[data-status="result"] .table-btn-group,
.sbs-single[data-status="result"] .pick-column,
.sbs-single[data-status="result"] th input {
  display: none;
}
.sbs-single[data-has-joined="true"] {
  height: calc(100% - 10px);
}
.sbs-single .rejoin-button-container {
  position: absolute;
  top: 45%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  display: none;
  left: 50%;
}
.sbs-single .paste-container {
  display: none;
}
.sbs-single .paste-input,
.sbs-single .paste-container {
  width: 100%;
  height: 100%;
}
.sbs-single .input-options {
  position: absolute;
  top: 0;
  left: 0;
  -ms-transform: translate(0, -88%);
      transform: translate(0, -88%);
  z-index: 3;
  display: none;
}
.sbs-single .input-option {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
  border: 3px solid transparent;
  border-bottom: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sbs-single .input-option:hover {
  cursor: pointer;
}
.sbs-single .input-option[data-active="true"] {
  color: #66baff;
}
.sbs-single .input-option[data-active="true"]:hover {
  cursor: default;
}
.gutter-swap {
  position: relative;
  height: 100%;
  width: 5%;
  -ms-flex-order: 2;
      order: 2;
}
.gutter-swap:hover {
  cursor: pointer;
}
.gutter-swap:hover:after {
  color: #000;
}
.gutter-swap:active:after {
  color: #999;
}
.gutter-swap:after {
  position: absolute;
  content: '⇄';
  color: #ccc;
  text-align: center;
  top: 42%;
  font-size: 21px;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 625px) {
  .gutter-swap:after {
    font-size: 18px;
  }
}
@media only screen and (max-width: 400px) {
  .gutter-swap:after {
    font-size: 16px;
  }
}
.gutter-swap.hidden {
  visibility: hidden;
}
.button {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: inline-block;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  background-color: #eff3f6;
  color: #fff !important;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none !important;
}
.button[data-open="true"],
.button:active {
  background-color: #e9ecef;
  background-image: none;
  border-color: rgba(27,31,35,0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}
.button:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  background-position: 0 -0.5em;
  border-color: rgba(27,31,35,0.35);
}
.button.button-sm {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
}
.button.button-primary {
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}
.button.button-primary:hover {
  background-color: #269f42;
  background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
  background-position: 0 -0.5em;
  border-color: rgba(27,31,35,0.5);
}
.button.button-primary[data-open="true"],
.button.button-primary:active {
  background-color: #279f43;
  background-image: none;
  border-color: rgba(27,31,35,0.5);
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}
.button.button-primary:focus {
  box-shadow: 0 0 0 0.2em rgba(52,208,88,0.3);
}
.button.processing {
  color: rgba(255,255,255,0.75);
  background-color: #94d3a2;
  background-image: none;
  border-color: rgba(27,31,35,0.2);
  box-shadow: none;
  pointer-events: none;
  padding-right: 25px;
}
.button.processing:after {
  content: ' ';
  background: url("../img/spinny.gif") center center no-repeat;
  position: relative;
  top: 5px;
  right: 5px;
  opacity: 0.75;
  height: 18px;
  width: 18px;
  display: inline-block;
  position: absolute;
  background-size: contain;
}
.download-formats {
  display: none;
  position: absolute;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 40px;
}
.download-formats .download-format {
  opacity: 1;
  cursor: pointer;
  padding: 4px;
}
.download-formats .download-format:active {
  color: #999;
}
.download-formats .download-format:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
}
nav {
  position: relative;
  width: calc(100% - 10px);
  height: 20px;
  margin: 5px auto 0 auto;
  top: 3px;
  color: #000;
}
#title,
#by {
  position: absolute;
  top: 0;
}
#title a,
#by a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
#title a:hover,
#by a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#title {
  font-weight: bold;
  position: relative;
  left: 3px;
  display: inline-block;
}
#title:hover {
  text-decoration: underline;
  cursor: pointer;
}
#title img {
  position: absolute;
  padding-left: 10px;
  top: 0;
  right: 0;
  -ms-transform: translate(85%, -20%);
      transform: translate(85%, -20%);
  height: 20px;
}
#by {
  right: 0;
}
#instructions {
  position: relative;
  margin: 20px auto 30px auto;
  width: 94%;
  max-width: 1160px;
  min-height: 125px;
}
@media only screen and (max-width: 750px) {
  #instructions {
    margin-bottom: 50px;
  }
}
#instructions h2 {
  font-size: 24px;
  margin: 5px 0 15px 0;
  letter-spacing: 1px;
  word-spacing: -1px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#instructions p {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 8px 0;
  max-width: 80%;
}
#instructions #download-result,
#instructions #join-button {
  position: absolute;
  top: 38px;
  right: 0;
  margin-top: 3px;
}
#instructions #download-result[data-open="true"] {
  z-index: 2;
}
#instructions #download-result[data-open="true"]:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 250%;
  z-index: 1;
  background-color: transparent;
}
#instructions #download-result[data-open="true"] .download-formats {
  display: block;
  color: #000;
  font-weight: normal;
  z-index: 9;
}
#instructions #download-result[data-open="true"] .download-format {
  z-index: 10;
}
#instructions #download-result .download-formats {
  right: 0;
  font-size: 13px;
  border: 1px solid #000;
  width: 140px;
  -ms-transform: translate(1px, 8px);
      transform: translate(1px, 8px);
}
#instructions #download-result .download-formats .download-format {
  display: inline-block;
  vertical-align: top;
}
#instructions .bold {
  font-weight: bold;
}
#instructions .inst-el .line-break {
  display: block;
  margin-bottom: 3px;
}
#instructions .inst-el[data-which="prose-full"] {
  display: none;
  max-height: 200px;
  overflow-y: scroll;
  padding: 10px;
  box-shadow: 0 0 6px #ccc inset;
}
#instructions .inst-el[data-which="prose-full"].show {
  display: block;
}
#instructions .expand {
  color: #666;
  display: inline-block;
  min-width: 100px;
  cursor: pointer;
}
#instructions .expand:hover:before {
  text-decoration: underline;
}
#instructions .expand:before {
  content: 'Show details';
}
#instructions .expand:after {
  position: relative;
  content: '‣';
  display: inline-block;
  font-size: 28px;
  padding-left: 3px;
}
#instructions .expand[data-open="false"]:after {
  top: 6px;
}
#instructions .expand[data-open="true"]:before {
  content: 'Hide';
}
#instructions .expand[data-open="true"]:after {
  top: 2px;
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}
#instructions #load-example,
#instructions a {
  color: #66baff;
  cursor: pointer;
  text-decoration: none;
}
#instructions #load-example:hover,
#instructions a:hover {
  text-decoration: underline;
}
#instructions .join-strats-container {
  display: inline-block;
  vertical-align: top;
}
#instructions .join-strats-container:before {
  display: inline-block;
  vertical-align: top;
  top: -1px;
  position: relative;
  content: 'Pick a strategy: ';
  font-weight: bold;
  padding-right: 5px;
}
#instructions .join-strats-container .coming-soon {
  font-size: 10px;
  display: inline-block;
  background-color: rgba(0,204,255,0.3);
  position: relative;
  border-radius: 3px;
  top: -5px;
  padding: 1px 3px 2px 3px;
}
#instructions .join-strats-container .coming-soon a {
  color: #000 !important;
  text-decoration: none;
}
#instructions .join-strats-container .coming-soon a:hover {
  text-decoration: underline;
}
#instructions .join-strategy {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  color: #ccc;
}
#instructions .join-strategy:not([data-disabled="true"]) {
  color: #000;
}
#instructions .join-strategy:not([data-disabled="true"]):hover,
#instructions .join-strategy:not([data-disabled="true"]) label,
#instructions .join-strategy:not([data-disabled="true"]) input {
  cursor: pointer;
}
#instructions .join-strategy label {
  margin-left: 1px;
}
#instructions .join-strategy-descs {
  margin: 10px 0 10px 0;
}
#instructions .join-strategy-desc {
  display: none;
}
#instructions .join-strategy-desc.active {
  display: block;
}
.sbs-single .upload-input {
  opacity: 0;
}
.sbs-single .upload-container {
  display: none;
}
.sbs-single .upload-container,
.sbs-single .upload-label,
.sbs-single .upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sbs-single .upload-label {
  overflow: hidden;
  border: 3px dashed #66baff;
}
.sbs-single .upload-label:before,
.sbs-single .upload-label:after {
  position: absolute;
  text-align: center;
  width: 100%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
.sbs-single .upload-label:after {
  top: calc(40% + 35px);
  color: #666;
  font-size: 14px;
  content: 'Drop files or click to upload';
}
@media only screen and (max-width: 404px) {
  .sbs-single .upload-label:after {
    width: 80%;
    left: 50%;
    -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
  }
}
.sbs-single .upload-label:before {
  top: 40%;
  font-size: 28px;
  color: #000;
  opacity: 0.25;
  font-weight: bold;
}
.sbs-single[data-side="left"] .upload-label:before {
  content: 'Existing data';
}
.sbs-single[data-side="right"] .upload-label:before {
  content: 'New data to add';
}
.sbs-single[data-status="upload-ready"] .input-options {
  display: block;
}
.sbs-single[data-status="upload-ready"] .paste-container {
  display: none;
}
.sbs-single[data-status="upload-ready"] .upload-container,
.sbs-single[data-status="dragover"] .upload-container,
.sbs-single[data-status="drop"] .upload-container {
  display: block;
}
.sbs-single[data-status="dragover"] .upload-label {
  border-color: #f00;
}
.sbs-single[data-status="dragover"] .upload-label:after {
  content: 'Drop drop drop!';
}
.sbs-single[data-status="drop"] {
  pointer-events: none;
}
.sbs-single[data-status="drop"] .upload-label {
  border: 3px solid #000;
}
.sbs-single[data-status="drop"] .upload-label:after {
  content: 'Processing...';
  animation: rotateAnimation 1600ms linear infinite;
}
.sbs-single[data-status="paste-ready"] .input-options,
.sbs-single[data-status="paste-ready"] .paste-container {
  display: block;
}
.sbs-single[data-status="paste-ready"] textarea {
  display: block;
  height: 80%;
  border: 1px solid #66baff;
}
.sbs-single[data-status="paste-ready"] textarea:focus {
  outline: 2px solid #66baff;
}
.table-group {
  width: 100%;
  height: 100%;
}
.table-btn-group {
  -ms-transform: translate(0, -22px);
      transform: translate(0, -22px);
}
.table-btn {
  position: relative;
  opacity: 0.3;
  display: inline-block;
  right: -3px;
  vertical-align: top;
  cursor: pointer;
  min-width: 18px;
  padding-right: 3px;
}
.table-btn:hover {
  opacity: 1;
}
.table-btn[data-which="reset"]:after {
  content: url("../img/trashcan.svg");
}
.table-btn[data-which="download"] {
  width: 20px;
  margin-right: 6px;
  z-index: 2;
}
.table-btn[data-which="download"]:hover .download-formats {
  display: block;
}
.table-btn[data-which="download"]:after {
  content: url("../img/download.svg");
}
.table-btn .download-formats {
  right: 0;
  bottom: 3px;
  -ms-transform: translate(90%, 0);
      transform: translate(90%, 0);
  font-size: 13px;
  border: 1px solid #000;
  box-shadow: 0 0 6px #fff;
}
.table-btn .download-formats:before {
  content: ' ';
  background-color: transparent;
  position: absolute;
  top: -15px;
  right: -5px;
  bottom: 0;
  left: -15px;
  z-index: -1;
}
.table-btn-group,
.pick-column {
  position: absolute;
  top: 0;
}
.table-btn-group {
  right: 0;
}
.pick-column {
  white-space: nowrap;
  font-size: 14px;
  left: 50%;
  background-color: #ff0;
  color: #000;
  padding: 0 3px;
  -ms-transform: translate(-50%, -130%);
      transform: translate(-50%, -130%);
}
.pick-column[data-col-selected='true'] {
  display: none;
}
.pick-column:before {
  content: 'pick a column to join on';
}
@media only screen and (max-width: 745px) {
  .pick-column:before {
    content: 'pick a column';
  }
}
@media only screen and (max-width: 615px) {
  .pick-column {
    -ms-transform: translate(-50%, -270%);
        transform: translate(-50%, -270%);
  }
}
.table-container {
  position: relative;
  padding-left: 10px;
  width: calc(100% - 10px);
  height: 100%;
  overflow: scroll;
}
.table-container .error-message {
  width: 100%;
  position: relative;
  text-align: center;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
.table-container .reset {
  color: #00f;
  cursor: pointer;
}
.table-container .reset:hover {
  text-decoration: underline;
}
.table-container table {
  border-collapse: collapse;
  margin: 24px auto 20px auto;
}
.table-container tr:hover {
  background-color: #eee;
  cursor: pointer;
}
.table-container tr:hover td:last-child {
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.table-container th {
  position: relative;
  white-space: nowrap;
  text-align: left;
  overflow: visible;
}
.table-container th input[type='radio'] {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  -ms-transform: translate(0, -150%) scale(0.9);
      transform: translate(0, -150%) scale(0.9);
  cursor: pointer;
}
.table-container th .sort-container {
  position: absolute;
  top: 5px;
  right: 2px;
  bottom: 0;
  opacity: 0.3;
}
.table-container th .sort-container:hover {
  opacity: 1;
  cursor: pointer;
}
.table-container th .sort-container:after {
  display: inline-block;
  vertical-align: top;
  content: url("../img/sort.svg");
  position: relative;
  width: 14px;
}
.table-container th .sort-container.sorted {
  opacity: 1;
}
.table-container th .sort-container.sorted[data-asc="true"]:after,
.table-container th .sort-container.sorted[data-asc="false"]:after {
  color: #f0c;
}
.table-container th .sort-container.sorted[data-asc="true"]:after {
  content: url("../img/sort-ascending.svg");
}
.table-container th .sort-container.sorted[data-asc="false"]:after {
  content: url("../img/sort-descending.svg");
}
.table-container .cast-options-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  right: -3px;
  margin-right: 15px;
  padding-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.table-container .cast-options-wrapper select {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0;
  font-size: 12px;
  color: #ccc;
  background-color: transparent;
}
.table-container .cast-options-wrapper select option {
  background-color: #fff;
  color: #000;
}
.table-container .cast-options-wrapper select:hover {
  cursor: pointer;
}
.table-container .cast-options-wrapper[data-type="string"] .cast-option[data-type="string"] {
  color: #000;
}
.table-container .cast-options-wrapper[data-type="string"] .cast-option[data-type="string"]:hover {
  cursor: default;
  color: #fff;
}
.table-container .cast-options-wrapper[data-type="number"] .cast-option[data-type="number"] {
  color: #000;
}
.table-container .cast-options-wrapper[data-type="number"] .cast-option[data-type="number"]:hover {
  cursor: default;
  color: #fff;
}
.table-container .cast-options-wrapper[data-type="date"] .cast-option[data-type="date"] {
  color: #000;
}
.table-container .cast-options-wrapper[data-type="date"] .cast-option[data-type="date"]:hover {
  cursor: default;
  color: #fff;
}
.table-container .cast-options-wrapper .cast-options-container {
  display: none;
  position: absolute;
  font-weight: normal;
  background-color: #fff;
  border: 1px solid #000;
  top: 13px;
  z-index: 2;
}
.table-container .cast-options-wrapper:hover {
  border-top-color: #000;
}
.table-container .cast-options-wrapper:hover .cast-options-container {
  display: block;
}
.table-container .cast-options-wrapper .cast-option {
  position: relative;
  padding: 4px;
  font-size: 13px;
  color: #ccc;
}
.table-container .cast-options-wrapper .cast-option:hover {
  color: #fff;
  background-color: #000;
}
.table-container td,
.table-container th {
  border: 1px solid #ccc;
  padding: 5px;
}
.table-container td.active,
.table-container th.active {
  position: relative;
  background-color: #ff0;
  background-origin: padding-box;
  background-clip: padding-box;
}
.table-container th.active .cast-options-wrapper:after {
  background-color: #ff0;
}
.table-container td {
  outline: 0px solid transparent !important;
  position: relative;
}
.table-container td[contenteditable="true"]:after {
  position: absolute;
  content: ' ';
  top: -2px;
  right: 0;
  bottom: 0;
  left: -2px;
  pointer-events: none;
  border: 2px solid #00f;
}
.table-container td[data-type="number"] {
  text-align: right;
}
.table-container th:last-child,
.table-container td:last-child {
  border-color: transparent;
}
.table-container th:last-child {
  pointer-events: none;
}
.table-container th:last-child:after {
  content: '';
}
.table-container tr[data-deleted="true"] td:not(:last-child) {
  text-decoration: line-through;
  color: #ccc;
}
.table-container tr[data-deleted="true"] a:hover {
  color: #ccc !important;
}
.table-container .row-delete {
  position: relative;
  font-size: 16px;
}
.table-container .row-delete:hover {
  cursor: default;
}
.table-container .row-delete a {
  text-decoration: none;
  color: #ccc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.table-container .row-delete span {
  position: absolute;
  top: 50%;
  left: 2px;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  font-weight: bold;
}
.table-container .row-delete span:hover {
  text-decoration: underline;
  color: #f00;
}
.table-container .row-delete span.restore-row {
  font-size: 20px;
}
.table-container .row-delete span.restore-row:hover {
  color: #008000;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
}
.sbs-group {
  margin-bottom: 10px;
}
footer {
  height: 10px;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */