.download-formats
  display none
  position absolute
  background-color #fff
  user-select none
  width 40px
  .download-format
    opacity 1
    cursor pointer
    padding 4px
    &:active
      color #999
    &:hover
      background-color #000
      color #fff
      opacity 1
