#instructions
  margin 20px auto 30px auto
  width 94%
  max-width 1160px
  // text-align center
  min-height 115px
  h2
    font-size 28px
    margin 5px 0 15px 0
    letter-spacing 1px
    word-spacing -1px
    color #fff
    text-shadow -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  p
    font-size 14px
    max-width 800px
    margin 0 0 3px 0
  .inst-el
    .line-break
      display block
      margin-bottom 3px
    .bold
      font-weight bold
    &[data-which="prose-full"]
      display none
      max-height 200px
      overflow-y scroll
      padding 10px
      box-shadow 0 0 6px #ccc inset
      &.show
        display block
  .expand
    color #666
    display inline-block
    &:hover
      &:before
        text-decoration underline
    &:before,
    &:after
      cursor pointer
    &:before
      content 'Expand'
    &:after
      position relative
      content '‣'
      display inline-block
      font-size 28px
      padding-left 3px
    &[data-open="false"]:after
      top 6px
    &[data-open="true"]
      &:before
        content 'Close'
      &:after
        top 2px
        transform rotate(90deg)
