#instructions
  position relative
  margin 20px auto 30px auto
  width 94%
  max-width 1160px
  min-height 125px
  +below(750px)
    margin-bottom 50px
  // .pre
  //   background-color #ccc
  //   font-family monospace
  //   padding 0 2px
  h2
    font-size 24px
    margin 5px 0 15px 0
    letter-spacing 1px
    word-spacing -1px
    color #fff
    text-shadow -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  p
    font-size 14px
    line-height 16px
    margin 0 0 8px 0
    max-width 80%
  #download-result,
  #join-button
    position absolute
    top 38px
    right 0
    margin-top 3px
  #download-result
    &[data-open="true"]
      z-index 2
      &:after
        content ' '
        position absolute
        top 0
        right 0
        width 150%
        height 250%
        z-index 1
        background-color transparent
      .download-formats
        display block
        color #000
        font-weight normal
        z-index 9
      .download-format
        z-index 10
    .download-formats
      right 0
      font-size 13px
      border 1px solid #000
      width 140px
      transform translate(1px, 8px)
      .download-format
        display inline-block
        vertical-align top

  .bold
    font-weight bold
  .inst-el
    .line-break
      display block
      margin-bottom 3px
    &[data-which="prose-full"]
      display none
      max-height 200px
      overflow-y scroll
      padding 10px
      box-shadow 0 0 6px #ccc inset
      &.show
        display block
  .expand
    color #666
    display inline-block
    min-width 100px
    cursor pointer
    &:hover
      &:before
        text-decoration underline
    &:before
      content 'Show details'
    &:after
      position relative
      content '‣'
      display inline-block
      font-size 28px
      padding-left 3px
    &[data-open="false"]:after
      top 6px
    &[data-open="true"]
      &:before
        content 'Hide'
      &:after
        top 2px
        transform rotate(90deg)
  #load-example,
  a
    color #66baff
    cursor pointer
    text-decoration none
    &:hover
      text-decoration underline
  .join-strats-container
    display inline-block
    vertical-align top
    &:before
      display inline-block
      vertical-align top
      top -1px
      position relative
      content 'Pick a strategy: '
      font-weight bold
      padding-right 5px
    .coming-soon
      font-size 10px
      display inline-block
      background-color rgba(0, 204, 255, 0.3)
      position relative
      border-radius 3px
      top -5px
      padding 1px 3px 2px 3px
      a
        color #000 !important
        text-decoration none
        &:hover
          text-decoration underline

  .join-strategy
    display inline-block
    vertical-align top
    margin-right 7px
    color #ccc
    &:not([data-disabled="true"])
      color #000
      &:hover,
      label,
      input
        cursor pointer
    label
      margin-left 1px
  .join-strategy-descs
    margin 10px 0 10px 0
  .join-strategy-desc
    display none
    &.active
      display block
