#instructions
  margin 20px auto 30px auto
  width 100%
  max-width 1160px
  text-align center
  min-height 115px
  h2
    font-size 28px
    margin 5px 0 15px 0
    letter-spacing 1px
    word-spacing -1px
    color #fff
    text-shadow -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  p
    font-size 14px
    max-width 740px
    margin 8px auto

  // Ready state
  .join-button
    &.processing
      color rgba(255,255,255,0.75)
      background-color #94d3a2
      background-image none
      border-color rgba(27,31,35,0.2)
      box-shadow none
      pointer-events none
      padding-right 25px
      &:after
        content ' '
        background url(../img/spinny.gif) center center no-repeat
        position relative
        top 5px
        right 5px
        opacity .75
        height 18px
        width 18px
        display inline-block
        position absolute
        background-size contain
