nav
  position relative
  width calc(100% - 10px)
  height 20px
  // max-width 1160px
  margin 5px auto 0 auto
  // opacity .5
#title,
#by
  position absolute
  top 0
  a
    text-decoration none
    font-weight bold
    color #000
    &:hover
      text-decoration underline
      cursor pointer
#title
  left 0
  font-weight bold
#by
  right 0

