nav
  position relative
  width calc(100% - 10px)
  height 20px
  margin 5px auto 0 auto
  top 3px
  color #000

#title,
#by
  position absolute
  top 0
  a
    text-decoration none
    font-weight bold
    color #000
    &:hover
      text-decoration underline
      cursor pointer
#title
  font-weight bold
  position relative
  left 3px
  display inline-block
  &:hover
    text-decoration underline
    cursor pointer
  img
    position absolute
    padding-left 10px
    top 0
    right 0
    transform translate(85%, -20%)
    height 20px
#by
  right 0

