$border-blue = #66baff

.sbs-single
  &[data-status="paste-ready"]
    .input-options,
    .paste-container
      display block
    textarea
      display block
      height 80%
      &:focus
        outline 2px solid $border-blue
