$gutter-width = 5%
$border-blue = #66baff

.sbs-group
  margin 0 auto
  display flex
  max-width 1160px
  width 99% - $gutter-width
  height calc(100vh - 235px)
  min-height 100px
  justify-content space-between
  flex-wrap wrap
.sbs-single
  position relative
  flex-grow 1
  width 47% // This would be better if it were set via gutter-width
  height 100%
  margin-bottom 50px
  &[data-side="left"]
    order 1
  &[data-side="right"]
    order 3
  &[data-status="table"],
  &[data-status="result"]
    border 1px solid #ccc
  &[data-status="empty"]
    display none
  &[data-status="result"],
  &[data-status="table"]
    &:after
      position absolute
      top 0
      color #aaa
      left -2px
      font-size 12px
      // letter-spacing 1px
      background-color #fff
      border 1px solid #ccc
      padding 4px
      border-bottom-color #fff
      transform translate(1px, -100%)
    &[data-side="left"]
      &:after
        content 'existing data (' attr(data-filename) ')'
    &[data-side="right"]
      &:after
        content 'data to join (' attr(data-filename) ')'
    &[data-side="result"]
      &:after
        content 'result (' attr(data-filename) ')'
  &[data-status="result"]
    order 0
    width 100%
    height 200px
    .table-container table
      margin-top 10px
    &[data-dirty="true"]
      .rejoin-button-container
        display block
        z-index 2
      .table-container
        filter blur(4px)
      &:before,
      &:after
        position absolute
      &:before
        content 'Your data has changed. Rejoin?'
        top 25%
        left 50%
        font-size 15px
        transform translate(-50%, -50%)
        background-color #fff
        text-align center
        border 1px solid #000
        padding 3px
        z-index 2

      &:after
        content ' '
        top 0
        bottom 0
        right 0
        left 0
        background-color rgba(255, 255, 255, .5)
        z-index 1
  &[data-status="result"]
    .table-btn-group,
    .pick-column,
    th input
      display none
  &[data-has-joined="true"]
    height calc(100% - 10px)
  .rejoin-button-container
    position absolute
    top 45%
    transform translate(-50%, -50%)
    display none
    left 50%
  .paste-container
    display none
  .paste-input,
  .paste-container
    width 100%
    height @width
  .input-options
    position absolute
    top 0
    left 0
    transform translate(0, -88%)
    z-index 3
    display none
  .input-option
    display inline-block
    vertical-align top
    padding 10px 0
    border 3px solid transparent
    border-bottom none
    user-select none
    color #ccc
    &:hover
      cursor pointer
      color #999
    &[data-active="true"]
      color #000
      // text-shadow -1px -1px 0 $border-blue, 1px -1px 0 $border-blue, -1px 1px 0 $border-blue, 1px 1px 0 $border-blue;
      &:hover
        cursor default
.gutter-swap
  position relative
  height 100%
  width $gutter-width
  order 2
  &:hover
    cursor pointer
    &:after
      color #000
  &:active
    &:after
      color #999
  &:after
    position absolute
    content '⇄'
    color #ccc
    text-align center
    top 42%
    font-size 21px
    right 0
    bottom 0
    left 0
    +below(625px)
      font-size 18px
    +below(400px)
      font-size 16px
  &.hidden
    visibility hidden
