$hover-color = #eee

.table-container
  width 100%
  height 100%
  .error-message
    width 100%
    position relative
    text-align center
    top 50%
    transform translate(0, -50%)
  .restart
    color blue
    cursor pointer
    &:hover
      text-decoration underline
  table
    border-collapse collapse
    margin 0 auto
  tr
    &:hover
      background-color $hover-color
      cursor pointer
      td:last-child
        border-top 1px solid $hover-color
        border-bottom 1px solid $hover-color
  th
    white-space nowrap
    text-align center
    user-select none
    cursor pointer
    &:hover
      background-color $hover-color
    &:after
      display inline-block
      vertical-align top
      content '↑↓'
      positoin relative
      margin-top -3px
      padding-left 3px
      color #ccc
      letter-spacing -2px
    &.sorted
      &[data-asc="true"]:after,
      &[data-asc="false"]:after
        color #f0c
        padding-right 6px
      &[data-asc="true"]:after
        content '↑'
      &[data-asc="false"]:after
        content '↓'

  td,
  th
    border 1px solid #ccc
    padding 5px
  th:last-child,
  td:last-child
    border-color transparent
  th:last-child
    pointer-events none
    &:after
      content ''
  tr[data-deleted="true"]
    td:not(:last-child)
      text-decoration line-through
      color #ccc
    a
      &:hover
        color #ccc !important
  .row-delete
    font-size 11px
    &:hover
      cursor default
    a
      text-decoration none
      color #ccc
      user-select none
      &:hover
        text-decoration underline
        color red
    span
      position relative
      font-weight bold
