$hover-color = #eee
$remove-width = 55px

.table-container
  position relative
  width 100%
  height 100%
  transform translate(0, 18px)
  &[data-col-selected='false']
    &:before
      content 'pick a column to join on'
      position absolute
      top 0
      font-size 16px
      letter-spacing 1px
      word-spacing -2px
      left "calc(50% - %s)" % ($remove-width / 2)
      transform translate(-50%, -275%)
      color yellow
      text-shadow -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  .error-message
    width 100%
    position relative
    text-align center
    top 50%
    transform translate(0, -50%)
  .restart
    color blue
    cursor pointer
    &:hover
      text-decoration underline
  table
    border-collapse collapse
    margin 0 auto
  tr
    &:hover
      background-color $hover-color
      cursor pointer
      td:last-child
        border-top 1px solid $hover-color
        border-bottom 1px solid $hover-color
  th
    position relative
    white-space nowrap
    text-align center
    user-select none
    cursor pointer
    // &:not(input):hover
    //   cursor pointer
    //   text-decoration underline

    input[type='radio']
      position absolute
      width 100%
      height 50%
      margin 0
      top 0
      left 0
      transform translate(0, -150%)
      cursor pointer
    &:after
      display inline-block
      vertical-align top
      content '↑↓'
      positoin relative
      margin-top -3px
      padding-left 3px
      color #ccc
      letter-spacing -2px
    &.sorted
      &[data-asc="true"]:after,
      &[data-asc="false"]:after
        color #f0c
        padding-right 6px
      &[data-asc="true"]:after
        content '↑'
      &[data-asc="false"]:after
        content '↓'

  td,
  th
    border 1px solid #000
    padding 5px
    position relative
    &.active
      position relative
      background-color yellow
      background-origin padding-box
      background-clip padding-box
  td
    outline 0px solid transparent !important
    &[contenteditable="true"]
      // padding 10px
      border 2px solid blue
  th:last-child,
  td:last-child
    border-color transparent
  th:last-child
    pointer-events none
    &:after
      content ''
  tr[data-deleted="true"]
    td:not(:last-child)
      text-decoration line-through
      color #ccc
    a
      &:hover
        color #ccc !important
  .row-delete
    font-size 12px
    &:hover
      cursor default
    a
      text-decoration none
      color #ccc
      user-select none
      &:hover
        text-decoration underline
        color red
    span
      position relative
      font-weight bold
