.sbs-single
  .upload-input
    opacity 0
  .upload-container
    display none
  .upload-container,
  .upload-label,
  .upload-input
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    cursor pointer
  .upload-label
    // border 3px dashed #1cfa05
    border 3px dashed #66baff
    &:before,
    &:after
      position absolute
      text-align center
      width 100%
      transform translate(0, -50%)
      content 'Drop files or click to upload'
    &:after
      top 60%
      color #666
      font-size 16px
    &:before
      top 40%
      font-size 36px
      color #000
      opacity .25
      font-weight bold
  &:first-child
    .upload-label
      &:before
        content 'Existing data'
  &:last-child
    .upload-label
      &:before
        content 'New data to add'
  &[data-status="empty"],
  &[data-status="dragover"],
  &[data-status="drop"]
    .upload-container
      display block
  &[data-status="dragover"]
    .upload-label
      border-color lighten(#66baff, 50%)
      // border-color red
      &:after
        content 'Drop drop drop!'
  &[data-status="drop"]
    pointer-events none
    .upload-label
      border 3px solid #000
      &:after
        content 'Processing...'
        animation rotateAnimation 1600ms linear infinite
